<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card
    [hasHeader]="false"
    [hasFooter]="false"

    status="hold"
    updatedAt="13/08/2023 16:20"
    createdAt="12/08/2023 16:20"
    notes="we have two bages that are full, one with plastic and the
other one with glasses."
  ></app-pickup-call-card>

  <app-pickup-call-card
    [hasHeader]="false"
    [hasFooter]="false"
    status="processing"
    updatedAt="12/08/2023 16:20"
    createdAt="11/08/2023 16:20"
    notes="A pair of stuffed bags, one carrying plastic, the other brimming with glass."
  ></app-pickup-call-card>

  <app-pickup-call-card
    [hasHeader]="false"
    [hasFooter]="false"
    status="finished"
    updatedAt="13/08/2023 18:20"
    createdAt="11/08/2023 19:20"
    amount="15,00"
  ></app-pickup-call-card>



  
</ion-content>
