<ion-content [fullscreen]="true">
  <div class="flex__center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <!-- <ion-input
            label="Email"
            labelPlacement="floating"
            placeholder="jhon@mail.com"
            type="email"
          ></ion-input> -->
          <ion-input label="Email" labelPlacement="floating" placeholder="jhon@mail.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="password"
            labelPlacement="floating"
            placeholder="*****"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-button color="dark" expand="full" fill="clear" >Forgot email/password</ion-button>

        <ion-button color="success" expand="full" (click)="login()">Login</ion-button>
        <ion-button color="success" expand="full" fill="clear" (click)="register()" >register</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
