<ion-content [fullscreen]="true">
  <div class="flex__center">
    <form [formGroup]="form" class="login__form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success">Reciclica</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-input
            fill="outline"
              label="Email"
              labelPlacement="floating"
              placeholder="jhon@mail.com"
              formControlName="email"
            ></ion-input>
          <!-- error messages  -->

          <app-error-message
            [field]="form.get('email')"
            message="Email is mandatory"
            error="required"
          ></app-error-message>
          <app-error-message
            [field]="form.get('email')"
            message="Please enter valid EMAIL"
            error="email"
          ></app-error-message>
        
        
            <ion-input
            fill="outline"
              label="password"
              labelPlacement="floating"
              placeholder="*****"
              type="password"
              formControlName="password"
            ></ion-input>
          

          <!-- error messages  -->

          <app-error-message
          message="Password is required"
          [field]="form.get('password')"
          error="required"
          ></app-error-message>
          
          <ion-button color="dark" expand="full" fill="clear"
            >Forgot email/password</ion-button
          >

          <ion-button
            color="success"
            expand="full"
            (click)="login()"
            [disabled]="!form.valid"
            >Login</ion-button
          >
          <ion-button
            color="success"
            expand="full"
            fill="clear"
            (click)="register()"
            >register</ion-button
          >
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
