<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img
          src="https://randomuser.me/api/portraits/women/29.jpg"
          alt="user-image"
        />
      </ion-avatar>
      <ion-label>
        <h1>Jenny Mitchelle</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <app-pickup-call-card [hasHeader]="true" [hasFooter]="true"></app-pickup-call-card> -->

  <app-pickup-call-card
  [hasHeader]="true"
  [hasFooter]="true"

  status="hold"
  updatedAt="12/08/2023 16:04"
  createdAt="11/02/2023 16:20"
  notes=" we have two bages that are full, one with plastic and the
  other one with glasses."
></app-pickup-call-card>




  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
